/* optimisation css. Tout en rem 5/20 */

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: rgba(0, 0, 0, 0.836);
  }
  .container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 5rem;
  }
  
  .slider img {
    max-width: 100%;
    display: none;
    margin: auto;
  }
  img.active {
    display: block;
    animation: fade 0.8s;
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .cont-btn {
    width: 100%;
    height: auto;
    border: 1px solid rgb(43, 42, 42);
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    background-color: #fff;
  }
  .btn-nav {
    font-size: 5rem;
    margin: 0 1.5rem;
    cursor: pointer;
    border: 0 none;
    background-color: #fff;
  }